$main-color:        #306BB2;
$secondary-color1:  #78A3D7;
$secondary-color2:  #4E83C2;
$secondary-color3:  #0D53A7;
$secondary-color4:  #0A3E7D;

$main_gradient1: #4F83C2;
$main_gradient2: white;
$header_color: rgb(40,40,40);