@import "bourbon";
@import "neat";
@import "color_sheme";
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
@import url(http://fonts.googleapis.com/css?family=Pacifico);

html{
  font-family: 'Nunito', sans-serif;
  font-weight: 300 ;
}

body{
  color: $main-color;
  // basic reset
  margin: 0;
  padding: 0;
}

.container {
  @include outer-container;
  margin-top: 100px;
}

div.seperator{
  @include span-columns(12);
  height: 10px;
}
header.nav {
  @include box-sizing(border-box);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:80px;
  background-color: $header_color;
  #color_overlay{
    background-color: $main-color;
    width: 400px;
    height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    float: left;

    .brand{
      color: white;
      float: left;
      padding-left: 2.5em;
      font-size: 2.5em;
      margin:0;
      font-weight: lighter;
      font-family: 'Pacifico', cursive;
    }
  }
  #triangle-topleft {
    width: 0;
    height: 0;
    border-top: 80px solid $main-color;
    border-right: 80px solid transparent;
    float: left;
    margin-left: 400px;
  }
  div.inner_nav_container{
    color: white;
    width: 1088px;
    margin-left: auto;
    margin-right: auto;

    ul.navigation{
      list-style: none;
      margin: 0;
      padding: 0;
      float: right;
      li{
        display: inline-block;
        padding: 20px;
        padding-top: 30px;
        font-size: 1em;

        a {
          text-decoration: none;
          color: white;
        }

        a:hover{

        }
      }
    }
  }
}

footer{
  @include span-columns(12);
  hr{
    border: 1px solid $main-color;
    border-radius: 5px;
  }
  p{
    color: $header_color;
  }
}

.heading_giant{
  @include span-columns(12);
  h1 {
    font-size: 3em;
    padding: 10px;
    text-align: center;
  }
  span.nightscare:before{
    content: " ";
  }
  span.nightscare{
    font-weight: lighter;
    font-family: 'Pacifico', cursive;
    color: $secondary-color1;
  }
}
div.text_heading{
  p {
    font-weight: bold;
    color: $main-color ;
    margin-bottom: -10px;
  }
  hr{
    border: 1px solid $main-color;
    border-radius: 5px;
    margin-bottom: -10px;
  }
}

div.row{
  @include span-columns(12);
  @include omega;
}

div.text_12 {
  @include span-columns(12 of 12);
  color: $header_color;
}

div.text_8 {
  @include span-columns(8 of 12);
  color: $header_color;
}

div.text_6 {
  @include span-columns(6 of 12);
  color: $header_color;
}

div.text_4 {
  @include span-columns(4 of 12);
  color: $header_color;
}
