header.nav
  div#color_overlay
    p.brand Nightscare

  div#triangle-topleft
  div.inner_nav_container
    ul.navigation
      a href="#"
        li Menüpunkt 1
      a href="#"
        li Menüpunkt 2
      a href="#"
        li Menüpunkt 3
      a href="#"
        li Menüpunkt 4