header.nav
  div#color_overlay
    p.brand Nightscare

  div#triangle-topleft
  div.inner_nav_container
    ul.navigation
      li
        a href="#" Menüpunkt 1
      li Menüpunkt 2
      li Menüpunkt 3
      li Menüpunkt 4